<!doctype html>
<html lang="ko" dir="ltr" itemscope="" itemtype="http://schema.org/Article" data-r-output-format="html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,minimum-scale=1">
  <title>TODO: CONTENT TITLE GOES HERE</title>
  <style>
    :root {
      --MAIN-WIDTH-MAX: 130rem;
      --MENU-WIDTH-L: 23rem
    }
  </style>
  <script src="/o11y-workshop-kr/src/js/includes.js"></script>
</head>
<body class="mobile-support html disableInlineCopyToClipboard" data-url="TODO: html href goes here">
  <div id="R-body" class="default-animation">
    <div id="R-body-overlay"></div>
    <nav id="R-topbar"></nav>
    <div id="R-main-overlay"></div>
    <main id="R-body-inner" tabindex=-1>
      <div class="flex-block-wrapper">
        <article class="default">
          <header class="headline"></header>
          <h1>CODE SNIPPETS</h1>

          <p>TYPE 1. BASH</p>
          <!-- bash type sample -->
          <div class="highlight wrap-code">
            <pre tabindex="0" class="chroma pre-code" data-code="sudo systemctl restart splunk-otel-collector">
              <code class="language-bash copy-to-clipboard-code copy-to-clipboard" data-lang="bash">
                <span class="line">
                  <span class="cl">sudo systemctl restart splunk-otel-collector</span>
                </span>
              </code>
            </pre>
            <span class="copy-to-clipboard-button" title="Copy to clipboard">
              <i class="far fa-copy"></i>
            </span>
          </div>
          <!-- //end of bash type sample -->

          <p>TYPE 2. TEXT</p>
          <!-- text type sample  -->
          <div class="highlight wrap-code">
            <pre tabindex="0" class="chroma pre-code" data-code="ACCESS_TOKEN
                      REALM
                      RUM_TOKEN
                      HEC_TOKEN
                      HEC_URL
                      INSTANCE"><code class="language-text copy-to-clipboard-code copy-to-clipboard" data-lang="text"><span class="line"><span class="cl">ACCESS_TOKEN
                      </span></span><span class="line"><span class="cl">REALM
                      </span></span><span class="line"><span class="cl">RUM_TOKEN
                      </span></span><span class="line"><span class="cl">HEC_TOKEN
                      </span></span><span class="line"><span class="cl">HEC_URL
                      </span></span><span class="line"><span class="cl">INSTANCE</span></span></code></pre><span
              class="copy-to-clipboard-button" title="Copy to clipboard"><i class="far fa-copy"></i></span>
          </div>
          <!-- // end of text type sample -->

          <p>TYPE 3. JAVA CODE TYPE</p>
          <!-- java code type sample -->
          <div class="highlight wrap-code">
            <pre tabindex="0" class="chroma pre-code" data-code="java \
            -Dserver.port=8083 \
            -Dotel.service.name=$INSTANCE-petclinic-service \
            -Dotel.resource.attributes=deployment.environment=$INSTANCE-petclinic-env \
            -jar target/spring-petclinic-*.jar --spring.profiles.active=mysql">
              <code class="language-bash copy-to-clipboard-code copy-to-clipboard" data-lang="bash">
                <span class="line">
                  <span class="cl">java 
                    <span class="se">\</span>
                  </span>
                </span>
                <span class="line">
                  <span class="cl">
                    <span class="se"></span>
                    -Dserver.port
                    <span class="o">=</span>
                    <span class="m">8083</span> 
                    <span class="se">\</span>
                  </span>
                </span>
                <span class="line">
                  <span class="cl">
                    <span class="se"></span>
                    -Dotel.service.name
                    <span class="o">=</span>
                    <span class="nv">$INSTANCE</span>
                    -petclinic-service 
                    <span class="se">\</span>
                  </span>
                </span>
                <span class="line">
                  <span class="cl">
                    <span class="se"></span>
                    -Dotel.resource.attributes
                    <span class="o">=</span>
                    deployment.environment
                    <span class="o">=</span>
                    <span class="nv">$INSTANCE</span>
                    -petclinic-env 
                    <span class="se">\</span>
                  </span>
                </span>
                <span class="line">
                  <span class="cl">
                    <span class="se"></span>
                    -jar target/spring-petclinic-*.jar --spring.profiles.active
                    <span class="o">=</span>
                    mysql
                  </span>
                </span>
              </code>
            </pre>
            <span class="copy-to-clipboard-button" title="Copy to clipboard">
              <i class="far fa-copy"></i>
            </span>
          </div>
        </article>
      </div>
    </main>
  </div>
  <aside id="R-sidebar" class="default-animation showVisitedLinks">
  </aside>  
</body>
</html>