<!doctype html>
<html lang="ko" dir="ltr" itemscope="" itemtype="http://schema.org/Article" data-r-output-format="html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,minimum-scale=1">
  <title>TODO: CONTENT TITLE GOES HERE</title>
  <style>
    :root {
      --MAIN-WIDTH-MAX: 130rem;
      --MENU-WIDTH-L: 23rem
    }
  </style>
  <script src="/workshop/src/js/includes.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // TODO: call set page function
      // _com.setPage('TODO: page ID goes here')
    });
  </script>
</head>
<body class="mobile-support html disableInlineCopyToClipboard" data-url="TODO: html href goes here">
  <div id="R-body" class="default-animation">
    <div id="R-body-overlay"></div>
    <nav id="R-topbar"></nav>
    <div id="R-main-overlay"></div>
    <main id="R-body-inner" tabindex=-1>
      <div class="flex-block-wrapper">
        <article class="default">
          <header class="headline"></header>
          <h1>TODO: HEADLINE GOES HERE</h1>
        </article>
      </div>
    </main>
  </div>
  <aside id="R-sidebar" class="default-animation showVisitedLinks">
  </aside>  
</body>
</html>